@font-face {
  font-family: "MillerBanner";
  src: url("/fonts/Font-Bureau-MillerBanner-Light.otf");
  font-style: normal;
  font-weight: 400;
  font-display: auto;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #fff;
  color: #202020;
}

* {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("/images/dropdown.svg") no-repeat;
  font-family: inherit;
  border: none;
}
